<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Multer</title>
  </head>
  <body>
    <form method="POST" action="/upload" enctype="multipart/form-data">
      <input type="file" name="image" />
      <input type="submit" />
    </form>
    <p></p>
    <form method="POST" action="/multiple" enctype="multipart/form-data">
      <input type="file" name="images" multiple />
      <button type="submit">upload up to 10 images</button>
    </form>
    <p></p>
    <form method="POST" action="/jsonfile" enctype="multipart/form-data">
      <input type="file" name="jsonfile" />
      <button type="submit">upload metadata json file</button>
    </form>

    <p></p>
    <img
      class="fun-spacer"
      width="100"
      height="100"
      src="bear.png"
      alt="bear"
    />
    <p></p>
    <form action="/stats" enctype="multipart/form-data" method="post">
      <div class="form-group">
        <input
          type="file"
          class="form-control-file"
          name="uploaded_file"
        /><br />
        <input
          type="text"
          class="form-control"
          placeholder="Metadata"
          name="metadata"
        /><br />
        <input
          type="text"
          class="form-control"
          placeholder="Metadata2"
          name="metadata2"
        /><br />
        <input
          type="text"
          class="form-control"
          placeholder="Metadata3"
          name="metadata3"
        />
        <input
          type="submit"
          value="npm-multer-method"
          class="btn btn-default"
        />
      </div>
    </form>
    <!-- below not finished yet -->

    <!--     
    <form id="form"> 
      <input type="file" id="file" accept=".png, .jpg, .svg" multiple></input><br>
      <input type="text" id="comments" placeholder="file comments"><br>
      <button type="submit">upload without multer</button>
    </form>

    <script>
      document.getElementById("form").addEventListener("submit", function(e) {
        e.preventDefault()

        const userFile = document.getElementById("file").files[0]
        const userComments = document.getElementById("comments").value

        const formData = new FormData()
        formData.append("user-file", userFile)
        formData.append("user-comments", userComments)

        fetch("/maarten", {
          method: "POST",
          body: formData,
        })
        .then(res => res.json())
        .then(data => console.log(data))
        .catch(err => console.log(err))
      })
    </script> -->
  </body>
</html>
